.container {
  background: url("https://source.unsplash.com/random");
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1200px;
  color: rgba(255, 255, 255, 0.9);
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  font-size: 4rem;
}

.title,
.description {
  text-align: left;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

.search {
  width: 100%;
}

.searchButton:hover {
  border: 1px solid #ddd;
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7);
  background: transparent;
}

.searchButton {
  font-size: 15px;
  padding: 8 px 16 px 10 px;
  margin-bottom: 24px;
  border: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.9);
  border-color: rgba(255, 255, 255, 0.7);
  background: #fff;
  outline: 0;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1 px solid transparent;
  white-space: nowrap;
  text-decoration: none;
  padding: 9px 18px;
  font-size: 15px;
  line-height: 1.6;
  border-radius: 6px;
}

.searchInput {
  width: 100%;
  border: none;
  outline: 0;
  padding: 6px 12px;
  height: 60px;
  font-size: 18px;
  border-radius: 6px;
  line-height: 1.6;
  color: #111;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.9);
}

.url {
  margin-top: 30px;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
  width: 100%;
  border: 2px dotted rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  display: block;
}

.url:hover {
  background: rgba(255, 255, 255, 0.1);
}
